[Unit]
Description=Autoware Startup Service
After=network.target graphical.target

[Service]
Type=simple
User=gary
Environment=DISPLAY=:0
ExecStart=/home/gary/autoware.FTD/scripts/autoware-startup.sh
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target